</main>



<footer class="invisible w-full bottom-0 p-4 bg-opacity-0 border-t-2 sm:visible md:flex md:items-center md:justify-between md:p-6 xl:visible xl:w-11/12 xl:ml-20 dark:bg-gray-800">
    <span class="text-sm text-gray-600 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:text-white ease-in-out duration-200">OisifCode™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-600 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="https://github.com/C-Rollot" class="mr-4 md:mr-6 hover:text-white ease-in-out duration-200">GitHub</a>
        </li>
        <li>
            <a href="#" class="mr-4 md:mr-6 hover:text-white ease-in-out duration-200">Autres projets</a>
        </li>
        <li>
            <a href="mailto:clement.rollot71@gmail.com" class="mr-4 md:mr-6 hover:text-white ease-in-out duration-200">Me Contacter</a>
        </li>
    </ul>
</footer>
</body>
</html>
