<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saint-Léger Kebab</title>
</head>

<header>
    <h1>Saint-Léger Kebab</h1>

    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/menu">La Carte</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</header>

<body>
    