<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Random Fast-Food</title>
</head>

<header class="border-b-2 mx-10">
    <nav class="flex items-center justify-between flex-wrap bg-gradient-to-r from-cyan-500 to-blue-500 p-6">
        <div class="flex items-center flex-no-shrink text-white mr-6">
          <span class="font-semibold text-2xl tracking-tight  border-white">Fast-Food</span>
        </div>
        <div class="block lg:hidden">
          <button id="navButton" class="flex items-center px-3 py-2 border rounded text-teal-lighter border-teal-light hover:text-white hover:border-white">
            <svg class="h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
        </div>
        <div id="navMenu" class="w-full hidden lg:block flex-grow lg:flex lg:items-center lg:w-auto">
          <div class="text-sm lg:flex-grow">
            <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter text-blue-900 hover:text-white mr-4 ease-in-out duration-200">
              Accueil
            </a>
            <a href="/menu" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter text-blue-900 hover:text-white mr-4 ease-in-out duration-200">
              La Carte
            </a>
            <a href="/contact" class="block mt-4 lg:inline-block lg:mt-0 text-teal-lighter text-blue-900 hover:text-white ease-in-out duration-200">
              Contact
            </a>
          </div>
        </div>
      </nav>
</header>


<body class="bg-gradient-to-r from-cyan-500 to-blue-500 flex-auto">

  <main>
