<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono&family=Inter:wght@600&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Fast-Food</title>
</head>


<header>

<!-- Title -->
  <div class="bg-white lg:bg-opacity-0 pb-3 border-b-2 border-blue-500 lg:w-11/12 lg:mx-auto">
    <div class="px-6 pt-6 lg:px-8">
      <nav class="flex items-center justify-between" aria-label="Global">
        <div class="flex lg:flex-1">
          <a href="/" class="-m-1.5 p-1.5 flex gap-2 sm:gap-5">
            <span class="sr-only">Fast-Food</span>
            <img class="h-8" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
            <h2 class="text-gray-900 sm:text-2xl font-semibold">Fast-Food</h2>
          </a>
        </div>

        <!-- Navbar links -->
        <div class="flex gap-2 lg:gap-x-12">
          <a href="/" class="text-xs sm:text-base font-semibold leading-6 text-gray-900 hover:text-blue-500 ease-in-out duration-200">Accueil</a>
  
          <a href="/menu" class="text-xs sm:text-base font-semibold leading-6 text-gray-900 hover:text-blue-500 ease-in-out duration-200">Carte</a>
    
          <a href="/contact" class="text-xs sm:text-base font-semibold leading-6 text-gray-900 hover:text-blue-500 ease-in-out duration-200">Contact</a>

          <a href="/comments" class="text-xs sm:text-base font-semibold leading-6 text-gray-900 hover:text-blue-500 ease-in-out duration-200">Avis</a>
        </div>
        <div class="lg:flex lg:flex-1 lg:justify-end">

          <% if(locals.user) { %>
            <a href="/logout" class="hidden sm:flex text-base font-semibold leading-6 text-gray-900 hover:text-blue-500 ease-in-out duration-200">Se déconnecter<span aria-hidden="true">&rarr;</span></a>
            <a href="/logout" class="sm:hidden"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
            </svg>
            </a>
          <% } else { %>
            <a href="/login" class="hidden sm:flex text-base font-semibold leading-6 text-gray-900 hover:text-blue-500 ease-in-out duration-200">Log in (Admin) <span aria-hidden="true">&rarr;</span></a>
            <a href="/login" class="sm:hidden"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg></a>
          <% } %> 

        </div>
      </nav>
    </div>
  </div>

</header>

<body>
  <main>
