<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono&family=Inter:wght@600&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Fast-Food</title>
</head>

<header class="border-b-2 mx-10">
    <nav class="flex items-center justify-between flex-wrap bg-gray-300 p-6">
        <div class="flex items-center flex-no-shrink text-gray-600 mr-6">
          <span class="font-semibold font-dm text-2xl tracking-tight  border-white"><a href="/">Fast-Food</a></span>
        </div>
        <div class="w-full flex-row items-center lg:w-auto">
          <div class="text-sm lg:flex-grow">
            <a href="/" class="mt-4 inline-block lg:mt-0 text-teal-lighter text-gray-600 hover:text-white mr-4 ease-in-out duration-200">
              Accueil
            </a>
            <a href="/menu" class="mt-4 inline-block lg:mt-0 text-teal-lighter text-gray-600 hover:text-white mr-4 ease-in-out duration-200">
              La Carte
            </a>
            <a href="/contact" class="mt-4 inline-block lg:mt-0 text-teal-lighter text-gray-600 hover:text-white ease-in-out duration-200">
              Contact
            </a>
          </div>
        </div>
      </nav>
</header>


<body class="bg-gray-300">

  <main>
