<!-- Banner, located just under the header, contains informations about some event -->

<div class="lg:h-24 lg:w-11/12 lg:rounded-lg mt-4 sm:mx-auto relative isolate flex items-center gap-x-6 overflow-hidden bg-green-900 py-2.5 px-6 sm:px-3.5 sm:before:flex-1">
    <svg viewBox="0 0 577 310" aria-hidden="true" class="absolute top-1/2 left-[max(-7rem,calc(50%-52rem))] -z-10 w-[36.0625rem] -translate-y-1/2 transform-gpu blur-2xl">
      <path id="1d77c128-3ec1-4660-a7f6-26c7006705ad" fill="url(#49a52b64-16c6-4eb9-931b-8e24bf34e053)" fill-opacity=".3" d="m142.787 168.697-75.331 62.132L.016 88.702l142.771 79.995 135.671-111.9c-16.495 64.083-23.088 173.257 82.496 97.291C492.935 59.13 494.936-54.366 549.339 30.385c43.523 67.8 24.892 159.548 10.136 196.946l-128.493-95.28-36.628 177.599-251.567-140.953Z" />
      <defs>
        <linearGradient id="49a52b64-16c6-4eb9-931b-8e24bf34e053" x1="614.778" x2="-42.453" y1="26.617" y2="96.115" gradientUnits="userSpaceOnUse">
          <stop stop-color="#9089FC" />
          <stop offset="1" stop-color="#FF80B5" />
        </linearGradient>
      </defs>
    </svg>
    <svg viewBox="0 0 577 310" aria-hidden="true" class="absolute top-1/2 left-[max(45rem,calc(50%+8rem))] -z-10 w-[36.0625rem] -translate-y-1/2 transform-gpu blur-2xl">
      <use href="#1d77c128-3ec1-4660-a7f6-26c7006705ad" />
    </svg>
    <div id="wkd-add" class="flex flex-wrap items-center gap-y-2 gap-x-4">
      <p class="text-sm lg:text-xl leading-6 text-neutral-50">
        <strong class="font-semibold lg:text-xl">World Kebab Day 2023</strong><svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>Rejoignez-nous le 14 Juillet pour le World Kebab Day!
      </p>
      <a href="https://www.daysoftheyear.com/days/kebab-day/" target="_blank" rel="noopener noreferrer" class="flex-none rounded-full bg-gray-900 py-1 px-3.5 text-sm font-semibold text-yellow-400 shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">En savoir plus<span aria-hidden="true">&rarr;</span></a>
    </div>
    <div class="flex flex-1 justify-end">
    </div>
</div>