<%- include('./partials/header') %>
<div id="home-body">
        <h2 class="lg:text-6xl font-semibold text-white text-center mt-16 md:text-4xl sm:text-3xl text-3xl">Bienvenue dans votre restaurant!</h2>

        <p class="lg:text-4xl text-white text-center mt-20 max-w-7xl xl:mx-auto lg:mx-20 md:mx-10 sm:mx-8 mx-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium necessitatibus harum recusandae! Culpa, illum modi fugiat fuga hic suscipit et molestiae tempora ullam, dolor ad dolore perferendis, porro saepe fugit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt est natus facere quidem. Animi, expedita omnis natus alias laudantium esse?</p>

    <div id="buttons" class="flex justify-around max-w-md mx-auto mt-10">

        <a href="/menu">
            <button href="/menu"
                type="button"
                class="inline-block rounded bg-neutral-50 px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-neutral-800 shadow-[0_4px_9px_-4px_#fbfbfb] transition duration-150 ease-in-out hover:bg-neutral-100 hover:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.3),0_4px_18px_0_rgba(251,251,251,0.2)] focus:bg-neutral-100 focus:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.3),0_4px_18px_0_rgba(251,251,251,0.2)] focus:outline-none focus:ring-0 active:bg-neutral-200 active:shadow-[0_8px_9px_-4px_rgba(251,251,251,0.3),0_4px_18px_0_rgba(251,251,251,0.2)]">
                Découvrez notre carte
            </button>
        </a>

        <a href="/contact">
            <button
                type="button"
                class="inline-block rounded bg-neutral-800 px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-neutral-50 shadow-[0_4px_9px_-4px_#332d2d] transition duration-150 ease-in-out hover:bg-neutral-800 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.3),0_4px_18px_0_rgba(51,45,45,0.2)] focus:bg-neutral-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.3),0_4px_18px_0_rgba(51,45,45,0.2)] focus:outline-none focus:ring-0 active:bg-neutral-900 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.3),0_4px_18px_0_rgba(51,45,45,0.2)] dark:bg-neutral-900 dark:shadow-[0_4px_9px_-4px_#171717] dark:hover:bg-neutral-900 dark:hover:shadow-[0_8px_9px_-4px_rgba(27,27,27,0.3),0_4px_18px_0_rgba(27,27,27,0.2)] dark:focus:bg-neutral-900 dark:focus:shadow-[0_8px_9px_-4px_rgba(27,27,27,0.3),0_4px_18px_0_rgba(27,27,27,0.2)] dark:active:bg-neutral-900 dark:active:shadow-[0_8px_9px_-4px_rgba(27,27,27,0.3),0_4px_18px_0_rgba(27,27,27,0.2)]">
                Contactez-nous
        </button>
        </a>
    </div>
</div>    
    
<%- include('./partials/footer') %>