<%- include('./partials/header') %>

    <h2 class="text-6xl font-semibold text-white text-center mt-16">Bienvenue dans votre restaurant!</h2>

    <p class="text-4xl text-white text-center mt-20 max-w-7xl mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium necessitatibus harum recusandae! Culpa, illum modi fugiat fuga hic suscipit et molestiae tempora ullam, dolor ad dolore perferendis, porro saepe fugit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt est natus facere quidem. Animi, expedita omnis natus alias laudantium esse?</p>

<%- include('./partials/footer') %>
</body>
</html>
