<%- include('./partials/header') %>

    <h2 class="lg:text-6xl font-semibold text-white text-center mt-16 md:text-4xl sm:text-3xl text-3xl">Bienvenue dans votre restaurant!</h2>

    <p class="lg:text-4xl text-white text-center mt-20 max-w-7xl xl:mx-auto lg:mx-20 md:mx-10 sm:mx-8 mx-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium necessitatibus harum recusandae! Culpa, illum modi fugiat fuga hic suscipit et molestiae tempora ullam, dolor ad dolore perferendis, porro saepe fugit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt est natus facere quidem. Animi, expedita omnis natus alias laudantium esse?</p>

<%- include('./partials/footer') %>